/* Styles for form container */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root{
  font-family: gilroy;
  height: 100%;
  width: 100%;
  /* background-image: url(https://img.freepik.com/free-photo/umbrella-chair-around-swimming-pool_1203-2409.jpg?t=st=1708854777~exp=1708858377~hmac=aae9b4a886d46b1d295391f23d41dfd60cbc2bd4ab889ef9f2460bf793357dd5&w=900); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
@font-face {
  font-family: gilroyBold;
  src: url(/Gilroy-Bold.ttf);
}
.gilroyBold{
  font-family: gilroyBold;
}
@font-face {
  font-family: gilroyMed;
  src: url(/Gilroy-Bold.ttf);
}
.gilroyMed{
  font-family: gilroyMed;
}
@font-face {
  font-family: gilroyThin;
  src: url(/Gilroy-Thin.ttf);
}
.gilroyThin{
  font-family: gilroyThin;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-3;
}
.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
.textStroke{
  -webkit-text-stroke:1px;
  -webkit-text-stroke-color: white;
}



.slide-enter {
  opacity: 0;
  transform: translateY(20px);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1000ms, transform 1000ms;
}
